@media (max-width:700px) {
    .navBar {
        display: none;
    }
    header svg {
        display: block;
    }
    .sobre .biografia {
        width: 300px;
        height: 270px;
    }
    .sobre .banner {
        width: 280px;
        height: 280px;
    }
    .habilidades {
        margin-top: 5rem;
    }
    .habilidades .card {
        width: 170px;
        height: 260px;
    }
    .projetos {
        margin-top: 2rem;
    }
    h2 {
        margin: 0 0 2rem 0;
    }
}
@media (min-width:700px) {
    .navBarMobile {
        display: none;
    }
}
@media (max-width:980px) {
 
    .sobre .biografia {
        height: 300px;
        width: 200px;        
    }
    .sobre .banner {
        align-items: center;
    }
    .sobre .biografia h1 {
        font-size: 20px;
    }
    .sobre .biografia p {
        font-size: 16px;
    }
    .sobre .banner {
        width: 250px;
        height: 250px;
    }
    .habilidades{
        height: 900px;
        
    }
    .habilidades .card{
        width: 150px;
        height: 230px;
       
    }
    .habilidades .card ul li{
        font-size: 10px;
    }
    .projetos{
        height: 1000px;
    }
    .projetos .card{
        width: 150px;
        height: 230px;
    }
    .projetos .card h3{
        font-size: small;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    .projetos .card p{
        font-size: 8px;
        height: 150px;
        width: 150px;
        letter-spacing: 0;
    }
    .projetos .card img{
        height: 90px;
        width: 90px;
    }
    .contato{
        height: 700px;
    }
    .contato .form{
        width:400px;
        padding: 1rem;
    }
    .contato .form input{
        width: 360px;
    }
}
@media (max-width:414px){
    .sobre{
        gap: 2px;
    }
    .sobre .biografia h1{
       font-size: medium;
       margin: 0.7rem 0 0 0;
    }
    .sobre .biografia p{
        font-size: small;       
    }
    .sobre .banner{
        align-items: start;
        justify-content: start;
    }
    .habilidades{
        height: 1550px;
    }
    .projetos .card p{
        font-size: 8px;
        letter-spacing: 0;
    }

} 
